@font-face {
    font-family: 'Barlow Regular';
    src: url('../font/Barlow-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Barlow SemiBold';
    src: url('../font/Barlow-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Barlow Bold';
    src: url('../font/Barlow-Bold.otf') format('opentype');
}